@import "tailwindcss";
@import "tw-animate-css";

/* Add Cinzel Decorative Font (Google Fonts) */
@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700&display=swap');

body {
  background-color: #0C0019;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.font-samarkan {
  font-family: 'Cinzel Decorative', cursive;
}