@import "tailwindcss";
@import "tw-animate-css";

/* Add Samarkan Font */
@font-face {
  font-family: 'Samarkan';
  src: url('https://db.onlinewebfonts.com/t/056353a27c68233bc7a545e11e028cab.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  background-color: #0C0019;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.font-samarkan {
  font-family: 'Samarkan', sans-serif;
}