@import "tailwindcss";
@import "tw-animate-css";

html {
  background: #0C0019;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Red Blocks Animation */
#redblocks > * {
  transform: translate3d(160px, -93px, 0);
  animation: moveblocks 4s 1s ease infinite;
}

@keyframes moveblocks {
  0% {
    transform: translate3d(160px, -93px, 0);
  }
  50%,
  100% {
    transform: translate(0);
  }
}

#firstBlock {
  transform: translate3d(160px, -93px, 0);
  animation: firstBlock 4s 1s ease infinite;
}

#blockdis {
  animation: blockdis 4s 1s ease infinite;
}

@keyframes blockdis {
  30% {
    opacity: 1;
  }
  40%,
  100% {
    opacity: 0;
    transform: translate3d(-160px, 93px, 0);
  }
}

@keyframes firstBlock {
  0%,
  15% {
    opacity: 0;
  }
  40%,
  100% {
    opacity: 1;
  }
}

@keyframes glow {
  0%,
  45% {
    opacity: 0;
  }
  60%,
  100% {
    opacity: 0.35;
  }
}

@keyframes dots {
  0%,
  35% {
    transform: translate(0);
    opacity: 0;
  }
  60%,
  80% {
    transform: translate(55px, -35px);
    opacity: 1;
  }
  100% {
    transform: translate(55px, -35px);
    opacity: 0;
  }
}

@keyframes up {
  to {
    transform: translate(0, -25px);
  }
}

@keyframes p {
  85%,
  100% {
    opacity: 0;
  }
}

@keyframes particles {
  0%,
  100% {
    transform: translate(0);
  }
  50% {
    transform: translate(10px, 15px);
  }
}

.particlespoly {
  animation: p 2s ease infinite alternate;
}

@keyframes updown {
  100% {
    transform: translate(0, -20px);
  }
}

@keyframes arrows {
  to {
    transform: translate(25px, 25px);
  }
}

@keyframes arrows2 {
  to {
    transform: translate(-25px, -25px);
  }
}