@import "tailwindcss";
@import "tw-animate-css";
@import url('https://fonts.cdnfonts.com/css/samarkan');

html {
  background: #0C0019;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.font-samarkan {
  font-family: 'Samarkan', sans-serif;
}